<h2>Results form Twitter for <%= @htname %> tag</h2>
<table>
  <tr>
    <td>Username</td>
    <td>Tweet</td>
    <td>Total Retweets</td>
    <td>Total Likes</td>
  </tr>
<% $client.search(@htname, result_type: "recent").take(100).collect do |tweet| %>
  <tr>
    <td><%= "#{tweet.user.screen_name}" %></td> 
    <td><%= "#{tweet.text}" %> </td>
    <td><%= tweet.retweet_count %></td>
    <td><%= tweet.favorite_count  %></td>
  </tr>
<% end %>
</table>

<h2>Results from Instagram for <%= @htname %> tag</h2>
<table>
  <tr>
    <td>Username</td> 
    <td>Post</td>
  </tr>
  <% InstagramApi.tag(@hashtag).recent_media({count:10}).each do |ipost| %>
  <tr>
    <td><%= "#{ipost.data[0].user.username}" %></td>
    <td><%= "#{ipost.data[0].caption.text}" %></td>
  </tr>
  <%  end %>
</table>

<%= link_to "Search New Hashtag", new_hashtag_path %>